@{
    ViewBag.Title = "ChannelIndex";
}

@model List<Kozol.Models.Channel>

<h2>Channel Index</h2>

@foreach (var c in Model)
{
    <li>
        @c.Name owned by @c.Creator.Username
    </li>
}

@Html.ActionLink("Channels", "Index", "Channel");

@Html.ActionLink("ChannelJson", "ChannelList", "Channel");

@Html.ActionLink("AddChannel", "AddChannel", "Channel",
    new
    {
        Name = "test",
        CreatorId = Session["userId"],
        Created = DateTime.Now,
        Capacity = 2,
        SlowMode = false,
        AdminMode = false,
        QuietMode = false,
        InviteMode = false
    }, null);

@Html.ActionLink("Channel Participants", "GetChannelParticipants", "Channel", new { channelID = 1 }, null);

@Html.ActionLink("Add Admin", "AddAdmin", "Channel", new { adminID = 1, channelID = 1 }, null);