<script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Channel Index";
}

<h2>Channel Index</h2>
<script>
    var kozolRenderChannels = function (response, status, data) {
        var channelList = jQuery.parseJSON(data.responseText);
        var renderList = "<table class=\"kozolChannelInfo\"> <tbody class=\"kozolScrollContainer\">";
        $.each(channelList, function (idx, obj) {
            renderList += "<tr> <td>" + obj.ID + "</td><td>" + obj.Name + "</td><td>owned by " + obj.Creator +"</td></tr>";
        });
        renderList += "</tbody></table>";
        $(".kozolChannels").html(renderList);
    };

    $(document).ready(function () { $("#kozolChannelRefresh")[0].click() });

</script>

<h3>@Ajax.ActionLink("Channels", "ChannelList", null, new AjaxOptions { OnSuccess = "kozolRenderChannels" }, new { id = "kozolChannelRefresh" })</h3>

@using (Ajax.BeginForm("SearchChannels", new AjaxOptions { OnSuccess = "kozolRenderChannels" }))
{
    <text>Search: </text> <input type="text" placeholder="Search Channels" name="query" />
}

<div class="kozolChannels">

</div>

